@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'android', 'cursive';
}

* {
    /*CONFIGURAÇÃO GLOBAL ZERANDO MARGIN E PADDING*/
    margin: 0px;
    padding: 0px;
}

.contato>main>article> h1 {
    background-color: var(--cor5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;

    margin: 0px -20px 0px -20px;
}

.contato p {
    margin: auto;
}

.contato ul {
    margin-left: 30px;
}

.contato aside h3 {
    text-shadow: 2px 1px 1px black;
}

.contato aside {
    margin: 30px;

}

.contato main p {
    padding: 10px;
}

.contato footer {
    margin-top: 31vh;
    padding: 5px;
    text-shadow: 2px 1px 2px black;
}